<section class="contact-section">
  <h2>Contact Me</h2>
  <p>I'd love to connect! Reach out via any of the platforms below:</p>
  <div class="contact-links">
    <a href="https://mail.google.com/mail/?view=cm&to=thisismyproff@gmail.com" class="contact-link email" rel="noopener">
      <i class="fas fa-envelope"></i> Email
    </a>
    <a href="https://www.linkedin.com/in/mayur-joshi-mj/" class="contact-link linkedin" target="_blank" rel="noopener">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>

  </div>
  <p class="m-2">Also checkout my work on :</p>
  <div class="contact-links">
    <a href="https://github.com/thisismyproff" class="contact-link github" target="_blank" rel="noopener">
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>
</section>

