<div class="header bg-light py-4 shadow-sm" style="background-image: url('/background-header.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        <h1 class="logo text-center mb-4 display-4 text-tertiary">Mayur Joshi</h1>
        <h3 class="text-center mb-4 lead fw-bold">Full Stack Developer</h3>
    </div>
    <div class="container text-center mt-3 social-links">
      <a href="https://github.com/thisismyproff" target="_blank" rel="noopener" class="mx-2 social-link github" aria-label="GitHub">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/mayur-joshi-mj/" target="_blank" rel="noopener" class="mx-2 social-link linkedin" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://mail.google.com/mail/?view=cm&to=thisismyproff@gmail.com" class="mx-2 social-link email" aria-label="Email" target="_blank" rel="noopener">
        <i class="bi bi-envelope-fill"></i>
      </a>
    </div>
</div>

