accordion-group::ng-deep .btn-link{
  color: black;
  text-decoration: none;
}

accordion-group::ng-deep .card-header{
  background: linear-gradient(120deg, #f3e7fe 0%, #ffe6f0 100%);
}


:host ::ng-deep .certifications-panel .panel-body,
:host ::ng-deep .certifications-panel .accordion-body,
:host ::ng-deep .certifications-panel .card-body {
  background: linear-gradient(120deg, #e0c3fc 0%, #f9f9f9 100%);
}

